@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800');

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1199px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e5e5;
}

.franja{
    background: url("../images/franja.jpg");
    background-size: cover;
    width: 100%;
    height: 16px;
}

// a {
//     color: @fucsia;
// }

.btn{
    font-weight: 800;
    text-transform: uppercase;
}

.close {
    font-size: 2rem;
    color: white;
    &:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
        color: white;
        opacity: 1;
    }
}

#carousel{
    h2 {
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 2.8rem;
        padding-top: 20vh;
    }
    .item{
        height: 80vh;
        &.item1{
            background: url("../images/banner1.png");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;  
        }
        &.item2{
            background: url("../images/banner2.png"); 
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat; 
        }
    }
    .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding: 60px 120px;
        min-height: 200px;
        color: #fff;
        text-align: center;
        @media @mobile {
            padding: 60px 35px;
            position: relative;
            min-height: 380px;
        }
    }
}

h6 {
    font-size: 0.8rem;
    line-height: 3rem;
}

.modal-header {
    border-bottom: 0px;
}