@morado: #16216a !important;
@naranja: #ff9900 !important;
@fucsia: #e80a8c !important;
@verde: #c6d420 !important;
@azul: #0f1d49 !important;

.text-primary{
    color: @morado;
}

.text-success{
    color: @verde;
}

.text-warning{
    color: @azul;
}

.text-danger{
    color: @fucsia;
}

.bg-primary{
    background: @morado;
}

.bg-secondary{
    background: @fucsia;
}

.bg-success{
    background: @verde;
}

.bg-warning{
    background: @azul;
}

.btn-primary{
    background: @morado;
    border-color: @morado;
    color:white !important;
}

.btn-success{
    background: @verde;
    border-color: @verde;
    color:white !important;
    &:hover {
        background-color: @azul;
        border-color: @azul;
    }
    &:disabled {
        cursor: not-allowed;
    }
}