form {
    h4{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        margin: 3rem 0;
        color: @fucsia;
        position: relative;
        span {
            position: absolute;
            font-size: 1rem;
            color: #495057;
        }
    }
    .form-row>.col, .form-row>[class*=col-] {
        padding-right: 15px;
        padding-left: 15px;
    }
    .input-group-text{
        color: #fff;
        background: @morado;
        border-color: @morado;
        width: 3rem;
        font-size: 1.4rem;
    }
   
    .form-control, .custom-select{
        border: 1px solid @morado;
        &:focus{
            box-shadow: none;
            border-width: 2px !important;
        }
    }
    .fecha{
        border: none;
        padding-top: 1rem;
        font-family: 'Open Sans',sans-serif;
        &:focus{
            box-shadow: none !important;
            outline: none;
        }
    }
    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
        border-radius: .25rem;
    }
}

._720kb-datepicker-calendar-header:nth-child(odd) {
    background: @naranja;
}

._720kb-datepicker-calendar-header:nth-child(even) {
    background: @naranja;
}

._720kb-datepicker-calendar-days-header {
    background: @naranja;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
    background: @naranja;
    color: white !important;
}

.datepicker a {
    color: @naranja !important;
}

._720kb-datepicker-calendar-years-pagination a, ._720kb-datepicker-calendar-years-pagination a:hover {
    color: rgba(0,0,0,.55) !important;
}

._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover {
    color: rgba(0,0,0,.55) !important;
}
nav.navbar.container-fluid {
    background-color: #C6D420;
}
.colorform {
    background-color: white;
    padding: 20px;
}

.mapa {
    background: url(../../images/colombia.svg) no-repeat;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
}