<br>
<form name="formRegistro">
    <div class="form-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- nombre y apellido -->
            <div class="colorform">
                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-id-card"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.nombre" type="text" placeholder="Nombre" required>
                    </div>
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-id-card"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.apellido" type="text" placeholder="Apellido" required>
                    </div>
                </div>
                <!-- correo y empresa -->

                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-at"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.email" type="email" placeholder="Correo electrónico">
                    </div>
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-building"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.empresa" type="text" placeholder="Empresa">
                    </div>
                </div>

                <!-- telefono y cargo -->
                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-phone"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.telefono" type="number" placeholder="Teléfono de contacto">
                    </div>


                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-address-card"></i>
                            </div>
                        </div>

                        <select class="custom-select" ng-model="usr.cargo">
                            <option value="">Cargo</option>
                            <option value="Ferretero">Ferretero</option>
                            <option value="MaestroDo">Maestro de obra</option>
                            <option value="Constructor">Constructor</option>
                            <option value="Contratista">Contratista</option>
                            <option value="Ingeniero">Ingeniero</option>
                            <option value="Arquitecto">Arquitecto</option>
                            <option value="Independiente">Independiente</option>
                        </select>
                    </div>
                </div>
                <!-- area y tipo de proyecto -->

                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-chart-area"></i>
                            </div>
                        </div>
                        <select class="custom-select" ng-model="usr.area_funcional">
                            <option value="">Área funcional</option>
                            <option value="compras">Compras</option>
                            <option value="proyectos">Proyectos</option>
                            <option value="tecnica">Técnica</option>
                            <option value="financiera">Financiera</option>
                            <option value="obras">Obras</option>
                            <option value="administrativo">Administrativo</option>
                        </select>
                    </div>

                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-tasks"></i>
                            </div>
                        </div>

                        <select class="custom-select" ng-model="usr.tipo_proyecto">
                            <option value="">Tipo de proyecto</option>
                            <option value="edificación">Edificación</option>
                            <option value="infraestructura">Infraestructura</option>
                            <option value="institucional">Institucional</option>
                            <option value="industrial">Industrial</option>
                            <option value="comercial">Comercial</option>
                        </select>

                    </div>

                </div>
                <!-- tiempo y departamentos -->
                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user-clock"></i>
                            </div>
                        </div>
                        <select class="custom-select" ng-model="usr.tiempo_inicio_proyecto">
                            <option value="">Tiempo de inicio de proyecto</option>
                            <option value="en_curso">En curso</option>
                            <option value="1-3-meses">1-3 meses</option>
                            <option value="3-6-meses">3-6 meses</option>
                            <option value="mas-de-6-meses">Más de 6 meses</option>
                        </select>
                    </div>

                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>

                        <select class="custom-select" ng-model="usr.departamento">
                            <option value="">Ubicación del proyecto</option>
                            <option value="Antioquia">Antioquia</option>
                            <option value="Atlántico">Atlántico</option>
                            <option value="Bolivar">Bolivar</option>
                            <option value="Boyaca">Boyaca</option>
                            <option value="Cauca">Cauca</option>
                            <option value="Caldas">Caldas</option>
                            <option value="Cesar">Cesar</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Cundinamarca">Cundinamarca</option>
                            <option value="Huila">Huila</option>
                            <option value="Magdalena">Magdalena</option>
                            <option value="Meta">Meta</option>
                            <option value="Nariño">Nariño</option>
                            <option value="Quindío">Quindío</option>
                            <option value="Risaralda">Risaralda</option>
                            <option value="Santander">Santander</option>
                            <option value="Sucre">Sucre</option>
                            <option value="Tolima">Tolima</option>
                            <option value="Valle del Cauca">Valle del Cauca</option>
                        </select>

                    </div>
                </div>
                <!-- cuidad y productos -->
                <!-- <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-building"></i>
                            </div>
                        </div>
                        <select class="custom-select" ng-model="usr.ciudad">
                        <option value="">Ciudad</option>ok
                        <option value="bogota">Bogota</option>ok
                        <option value="barranquilla">Barranquilla</option>ok
                        <option value="cartagena">Cartagena</option>
                        <option value="cali">Cali</option>ok
                        <option value="popayan">Popayán</option>ok
                        <option value="medellin">Medellín</option>ok
                        <option value="villavicencio">Villavicencio</option>ok
                        <option value="narino">Nariño</option>ok
                        <option value="pereira">Pereira</option>
                        <option value="ibague">Ibagué</option>
                        <option value="tunja">Tunja</option>ok
                        <option value="santa_marta">Santa Marta</option>
                        <option value="sincelejo">Sincelejo</option>
                        <option value="valledupar">Valledupar</option>
                    </select>
                    </div> -->
                <div class="form-row">
                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-building"></i></div>
                        </div>
                        <input class="form-control" ng-model="usr.ciudad" type="text" placeholder="Ciudad">
                    </div>

                    <div class="col input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-box-open"></i>
                            </div>
                        </div>
                        <select class="custom-select" ng-model="usr.producto_interes">
                            <option value="">Producto de interés</option>
                            <option value="Cemento">Cemento</option>
                            <option value="Concreto">Concreto</option>
                            <option value="Morteros">Morteros</option>
                            <option value="Agregados">Agregados</option>
                        </select>

                    </div>
                </div>
                <button ng-click="registrar(usr, formRegistro)" type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="formRegistro.$invalid">
                    ENVIAR <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="mapsvg"></div>
        </div>
    </div>

</form>

<!-- Disclaimer -->
<div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="disclaimerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-white bg-primary">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <i class="fas fa-check-circle fa-5x p-3"></i>
                <h4>Hola {{usr.nombre}}</h4>
                <p>Tu requerimiento ha sido enviado a tu asesor {{asesor.Nombre}} , pronto se estará comunicando contigo.</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> E-mail : {{asesor.Email}}</p>
                <p><i class="fa fa-mobile" aria-hidden="true"></i> Celular : {{asesor.Celular}}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ciudad : {{asesor.Ciudad}}</p>
            </div>
        </div>
    </div>
</div>